/*信息查看与修改*/
#message-column{
     position: absolute;
     width: 100%;
     height: 100%;
     top:0;
    background-color:#eaeeef;
}
#message-revise{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color:#eaeeef;
}
.column-mimg{
    width:22%;
    border-radius:50%;
}
#column-mhead{
    border:solid  rgb(232,232,232);
    border-width:0 0 1px 0;
}
.Inpt{
    border:0;
    outline:none;
}
.select1 {
  border: solid 0px #000;
  outline:none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("../bath-img/arrow.png") no-repeat scroll right center transparent;
  padding-right:7%;
  width:95%;
}
.select2 {
  border: solid 0px #000;
  outline:none;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("../bath-img/arrow.png") no-repeat scroll right center transparent;
  padding-right:0%;
  width:30.2%;
}
.form1{
    margin: 0;
    padding: 0;
    
}
select::-ms-expand { 
    display: none;
}
.go-in{
        width:35%;
}

/*手机号更换*/
.telephone-change{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color:#eaeeef;
}
.turn-img{
    width:16%;
}
#getvalidate{
    font-size:13;
    border: solid 1px lightskyblue;
    color:lightskyblue;
}
/*支付密码更换*/
.password-change{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color:#eaeeef;
}
.yes{
    width:90%;
    border:none;
    outline:none;
    background-color: #25b8fd;
    color:white;
    text-align: center;
    padding:3% 0;
    font-size: 20;
    border-radius: 3px;
}
/*忘记密码*/
.password-forget{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color:#eaeeef;
}
/*金额*/
#amount-title{
    font-size: 15;
    color:white;
}
.amount{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color:#eaeeef;
    overflow: hidden;
}
.amount-sign{
    color:white;
    font-size: 32;
}
.amount-figure{
    color:white;
    font-size:45;
}
.recharge-img{
    width:45%;
}
.money2{
    width:10%;
}
/*充值*/
.recharge{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color:#eaeeef;
}
.people-img{
    width:45%;
}
.recharge-input{
    background-color: transparent;
    border:0;
    outline:none;
    width:100%;
}
.longok-img{
    width:86%;
    border:none;
    outline:none;
    background-color: #25b8fd;
    color:white;
    text-align: center;
    padding:3% 0;
    font-size: 20;
    border-radius: 3px;
}
/*查看订单*/
.indent{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color:#eaeeef;
   }
/*常见问题*/
 .faq{
     position: absolute;
     width: 100%;
     height: 100%;
     top:0;
     background-color:#eaeeef;
  }
/*优惠劵*/
   .coupons{
       position: absolute;
       width: 100%;
       height: 100%;
       top:0;
       background-color:#eaeeef;
   }
/*领取优惠劵*/
.getcoupons{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color:#eaeeef;
}
.couponbutton{
    border:none;
    outline:none;
    background-color: transparent;
    color:cornflowerblue;
}
/*通知和常见问题页详细页模版*/
.notice2-demo{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color:#eaeeef;
}
/*意见反馈页*/
.feedback{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background-color:#eaeeef;
}
.write-img{
    width:5%;
}
.yes2-img{
    width:95%;
    border:none;
    outline:none;
    background-color: #25b8fd;
    color:white;
    text-align: center;
    padding:2.5% 0;
    font-size: 20;
    border-radius: 3px;
}

